body{
     background-color: aliceblue;
     padding: 2rem;
     font-family: 'Poppins';
    }
.container{
    margin-top: 4rem;
}

.row{
    padding: 1rem;
}
@media only screen and (min-width: 600px) {
    .container{
        margin-top: 3rem;
        width: 35rem;
    }
  }
