.App {
  background-color: white;
  border-radius: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(240,248,255);
background: linear-gradient(0deg, rgba(240,248,255,1) 0%, rgba(255,255,255,1) 100%);
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-selected {
  border-bottom: 2px solid lightgray;
}

h1 {
  font-weight: bold;
  color: navy;
}

p {
  color: #126DA6;
}

nav h3 {
  margin: 1rem;
  cursor: pointer;
  color: #718096;
}

nav h3:hover {
  color: rgb(72, 72, 72);
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-weight: bold;
}

input {
  box-shadow: none !important;
}

input.input-error {
  border-color: #fc8181;
}

input.input-valid {
  border-color: #3DDC84;
}

.btn {
  margin: 1rem 0;
  box-shadow: none !important;
  background-color: navy;
  border: none;
}